<form action="cast" method="post">
    <ul class="unstyled">
        <% Choices.each do |value, text| %>
            <li>
                <label class="radio">
                    <input type="radio" name="vote" value="<%= value %>" />
                    <%= text %>
                </label>
            </li>
        <% end %>
    </ul>
    <button type="submit" class="btn btn-primary">Poproszę takie jedzonko!</button>
</form>